.filter-panel {
  background: white;
}

.filter-item {
  background: #e6e6e6;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.filter-item.selected {
  background-color: #0f548c;
  color: white;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
